$color-0: #000;
$color-c: #ccc;
$color-e: #eee;
$color-f: #fff;
$color-8: #888;
$color-f1: #f1f1f1;
$color-fc: #fcfcfc;
$color-dc: #dcdcdc;
$color-f8: #f8f8f8;


.color{
	background-color: $color-f8;
}
.hello{
	color: $color-f8;
}